.mycontainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.body {
    background-color: #d0d4dc;
}
.banner {
    width: 1440px;
    height: 460px;
    flex-shrink: 0;
}
.head {
    margin-top: 64px;
    margin-bottom: 74px;
        .mycont2 {
            max-width: 1240px;
            width: 100%;
            margin: 0 auto;
        }
        .headertext {
            color: #000;
            font-family: 'Inter', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            width: 203px;
        }
        .headertext1 {
            color: #000;
            font-family: "BPG ExtraSquare", sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            width: 220px;
            height: 40px;
            margin-left: 52px;
            ::placeholder {
                left: 50px;
            }
        }
        .search {
            width: 416px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #F7D8D4;
            border: none;
            margin-left: 52px;
            margin-right: 12px;
        }
        .heart {
            vertical-align: middle;
            margin-right: 5px;
        }
        .geo {
            vertical-align: middle;
            margin-right: 5px;
        }
        .profile {
            vertical-align: middle;
            margin-right: 5px;
        }
}
.s-1 {
    .mshobeli {
        position: relative;
        width: 1440px;
        height: 460px;
        flex-shrink: 0;
    }
    .shvili {
        position: absolute;
        top: 100px;
        left: 50px;
    }
    .bannerb {
        color: #FFF;
        font-family: "BPG Arial", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
    }
}
.s-2 {
    .s2 {
        margin: 112px;
        .infobox {
            margin: 0 auto;
            width: 1200px;
            height: 376px;
            flex-shrink: 0;
            border-radius: 52px;
            border: 1px solid #B8BECA;
            background: linear-gradient(96deg, #B8BECA 0%, rgba(184, 190, 202, 0.00) 100%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(28px);
            .outtitle {
                color: #000;
                font-family: "BPG Arial", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                margin: 46px,
            }
            .title {
                margin: 0 auto;
                width: 656px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 70px;
                background: #13264E;
                margin-top: 48px;
                position: relative;
                .titlep {
                    position: absolute;
                    top: 12px;
                    left: 155px;
                    color: #FFF;
                    font-family: "BPG ExtraSquare", sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}
.s-3 {
    .sec3 {
        margin-bottom: 125px;
       .firstimg {
            border-radius: 16px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            width: 672px;
            height: 448px;
            flex-shrink: 0;
        }
        .img1 {
            display: inline-block;
            vertical-align: top;
        }
        .texts3 {
            display: inline-block;
            vertical-align: top;
            width: 424px;
            height: 160px;
            margin-left: 64px;
            .s3head {
                color: #000;
                font-family: "BPG ExtraSquare", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                vertical-align: top;
                margin-bottom: 10px;
            }
            .s3head1 {
                color: #000;
                font-family: "BPG ExtraSquare", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                vertical-align: top;
                margin-bottom: 34px;
            }
            .text2s3 {
                margin-bottom: 32px;
                .texts3 {
                    color: #000;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
            .button {
                display: inline-flex;
                width: 157px;
                padding: 12px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: #13264E;
                .ix {
                    color: #FFF;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
        }
    }
}
.texs3 {
    color: #000;
    font-family: BPG Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.mycontainer1 {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
}
.s-4 {
    .s4{
        .buttext {
            margin: 0 auto;
            width: 616px;
            height: 72px;
            flex-shrink: 0;
            border-radius: 70px;
            background: #13264E;
            padding: 3.5px 120px;
            margin-bottom: 35px;
            .butte {
                margin-top: 17px;
                color: #FFF;
                font-family: BPG ExtraSquare;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 75% */
            }
        }
        .cards {
            margin: 0 auto;
            .card1 {
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;
                position: relative;
            }
            .grn {
                color: #FFF;
                font-family: "BPG ExtraSquare", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                margin-top: 9px;
                margin-left: 23px;
            }
            .card2 {
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;
                position: relative;
                .incard {
                    margin-bottom: 85px;
                }
                .green2 {
                    width: 112px;
                    height: 48px;
                    flex-shrink: 0;
                    border-radius: 16px;
                    border: 1px solid #FFF;
                    background: #38C976;
                    position: absolute;
                    left: 40px;
                    top: 140px;
                }
            }
            .green1 {
                width: 112px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 16px;
                border: 1px solid #FFF;
                background: #38C976;
                position: absolute;
                left: 40px;
                top: 56px;
            }
            .he {
                position: absolute;
                width: 56px;
                height: 56px;
                flex-shrink: 0;
                display: inline-block;
                top: 56px;
                left: 304px;
            }
            .he1 {
                position: absolute;
                width: 56px;
                height: 56px;
                flex-shrink: 0;
                display: inline-block;
                top: 140px;
                left: 304px;
            }
            .card3 {
                display: inline-block;
                vertical-align: middle;
                position: relative;
            }
            .h22 {
                color: #000;
                font-family: "BPG ExtraSquare", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                width: 400px;
                margin-bottom: 4px;
            }
            .h221 {
                color: #000;
                font-family: "BPG ExtraSquare", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                width: 400px;
                margin-bottom: 28px;
            }
            .h31 {
                color: #000;
                font-family: "BPG Arial", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 13px;
            }
            .h32 {
                color: #000;
                font-family: "BPG Arial", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 400px;
                margin-bottom: 14px;
            }
            .button1 {
                display: flex;
                width: 131px;
                padding: 12px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: #13264E;
                margin-bottom: 80px;
            }
            .ix1 {
                color: #FFF;
                font-family: "BPG Arial", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .sl {
            width: 400px;
            height: 528px;
            top: 1928px;
            left: 100px;
            border-radius: 40px;
            margin-bottom: 25px;
        }
    }
}
.footer {
    .foot {
        height: 268px;
        flex-shrink: 0;
        background-color: #e7e9ed;
        margin-bottom: 78px;
        .mycontainer2 {
            max-width: 1064px;
            width: 100%;
            margin: 0 auto;
            .foote {
                padding-top: 1px;
                display: inline-block;
                .h23 {
                    color: #000;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 86px;
                    display: inline-block;
                    margin-right: 25px;
                }
                .tbc {
                    display: inline-block;
                    vertical-align: sub;
                }
            }
            .cont {
                display: inline-block;
                margin-left: 650px;
                vertical-align: middle;
                .conta {
                    color: #000;
                    font-family: "BPG ExtraSquare", sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    height: 70px;
                }
                .fb {
                    margin-right: 10px;
                }
                .insta {
                    margin-right: 10px;
                }
            }
        }
    }
}
#next {
    margin-bottom: -1px;
}

// categories

.mycontainer3 {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.seccat1 {
        .cat1 {
            .infobox1 {
                vertical-align: top;
                width: 504px;
                height: 832px;
                flex-shrink: 0;
                border-radius: 52px;
                border: 1px solid #C0C5D0;
                background: linear-gradient(159deg, #B8BECA 1.78%, rgba(184, 190, 202, 0.00) 99.22%);
                box-shadow: 0px 24px 56px 0px rgba(0, 0, 0, 0.16);
                backdrop-filter: blur(28px);
                position: relative;
                display: inline-block;
                margin-bottom: 72px;
                .blue {
                    width: 256px;
                    height: 64px;
                    flex-shrink: 0;
                    border-radius: 24px;
                    background: #13264E;
                    top: 56px;
                    left: 124px;
                    position: absolute;
                    .bluep {
                        color: #FFF;
                        font-family: "BPG ExtraSquare", sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin-top: 20px;
                        margin-left: 18px;
                    }
                }
                .gr {
                    width: 412px;
                    height: 636px;
                    flex-shrink: 0;
                    border-radius: 52px;
                    opacity: 0.6;
                    background: #D0D4DC;  
                    position: absolute;
                    top: 142px;
                    left: 46px;                  
                }
            }
            .news {
                display: inline-block;
                margin-left: 110px;
                .newsh2 {
                    color: #13264E;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    vertical-align: top;
                    margin-top: 76px;
                    margin-bottom: 72px;
                }
                .newsimg {
                    width: 622px;
                    height: 648px;
                    flex-shrink: 0;
                    border-radius: 16px;
                    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                    display: inline-block;
                }
            }
        }
}
.seccat2 {
    .cat2 {
        .cah2 {
            color: #13264E;
            font-family: "BPG Arial";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 47px;
        }
        .catcard {
            width: 292px;
            height: 274px;
            flex-shrink: 0;
            display: inline-block;
            .cardim {
                width: 292px;
                height: 274px;
                flex-shrink: 0;
                margin-bottom: 16px;
            }
            .cah3 {
                color: #000;
                font-family: "BPG ExtraSquare";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 16px;
            }
            .cah4 {
                color: #000;
                font-family: "BPG ExtraSquare";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 24px;
            }
            .cah5 {
                color: #000;
                font-family: "BPG Arial";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 4px;
            }
            .blbut {
                display: flex;
                width: 112px;
                height: 40px;
                padding: 10px 14px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;
                border-radius: 8px;
                background: #13264E;
                margin-top: 16px;
                .blba {
                    color: #FFF;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}
#foo1 {
    margin-top: 50px;
}
#lr1 {
    margin-left: 20px;
    margin-right: 20px
}
#lr2 {
    margin-right: 20px;
}
